<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <appender name="stdout" class="ch.qos.logback.core.ConsoleAppender">
        <layout class="ch.qos.logback.contrib.json.classic.JsonLayout">
            <jsonFormatter
                    class="ch.qos.logback.contrib.jackson.JacksonJsonFormatter">
                <prettyPrint>true</prettyPrint>
            </jsonFormatter>
            <timestampFormat>yyyy-MM-dd' 'HH:mm:ss.SSS</timestampFormat>
        </layout>
    </appender>

    <appender name="TEST-LOG" class="ch.qos.logback.core.FileAppender">
        <file>/tmp/test_output.log</file>
        <append>true</append>
        <filter class="ch.qos.logback.classic.filter.LevelFilter">
            <level>INFO</level>
            <onMatch>ACCEPT</onMatch>
            <onMismatch>DENY</onMismatch>
        </filter>
        <encoder class="net.logstash.logback.encoder.LogstashEncoder">
            <timestampPattern>yyyy-MM-dd'T'HH:mm:ss.SSS</timestampPattern>
            <includeCallerData>true</includeCallerData>
            <customFields>{"PodName":"${POD_BASE_NAME}-${BATCH_NUMBER}"}</customFields>
        </encoder>
    </appender>

    <root level="info" additivity="false">
        <appender-ref ref="stdout"/>
        <appender-ref ref="TEST-LOG" />
    </root>
</configuration>
